body {
  background-color: #fff;
  font-family: sans-serif;
}

#pedine {
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  position: relative;
}

.pedina {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  cursor: pointer;
}
